{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "emotion",
      {
        "sourceMap": true,
        "labelFormat": "[filename]__[local]",
        "cssPropOptimization": true
      }
    ]
  ]
}
